<div class="container__big-card">

  <div class="big-card__picture">
    <img src="https://rollingstone.com.br/media/uploads/estalo_de_thanos_foto_reproducaomarvel.jpg" alt="">
  </div>
  <div class="big-card__title">
    <a href=""><h1 id="titulo">Saiu a nova versão do Angular</h1></a>
  </div>
  <div class="big-card__description">
    <a href="">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident nostrum voluptate tenetur quam atque laudantium doloremque, veritatis commodi velit. Quos deleniti distinctio odit aut vero nulla praesentium, hic temporibus dicta.</p>
    </a>
  </div>

</div>
